* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-bottom: 2px solid #61dafb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 100px;
}

header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #61dafb;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header p {
    font-size: 1.2rem;
    color: #f0f0f0;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: 1px;
}

header p br {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

td {
    border: 4px solid #61dafb;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:first-child td {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}
table tr td:first-child {
    border-left: none;
}
table tr td:last-child {
    border-right: none;
}

.endgame {
    display: none;
    width: 250px;
    top: 40%;
    background-color: rgba(34, 34, 34, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -125px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.endgame .text {
    font-size: 24px;
    font-weight: bold;
    color: #61dafb;
    text-transform: uppercase;
}

button {
    margin-top: 60px;
    padding: 10px 30px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #21a1f1;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
}
